/* General CSS */
html {
  height: 100%;
  width: 100%;
}
body {
  background: #000; 
  color: #f1f1f1;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
/* General CSS End */

/* Header */
#about {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: 1s opacity;
  height: 90%;
  width: 100%;
  visibility: hidden;
  z-index: 20;
}
  #about p { 
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.8vw;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.9;
  }
  #about h3 {
    font-size: 3vw;
  }

#contact {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  transition: 1s opacity;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 30;
}
  #contact p { 
    font-size: 3vw;
    opacity: 0.9;
  }
  #contact a {
    font-family: 'Raleway', sans-serif;
    font-size: 6vw;
    opacity: 0.9;
    text-decoration: underline;
  }

#navbar {
  display: none;
  visibility: hidden;
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  width: 100%;
  opacity: 0.8;
  z-index: 1000;
}
  #mobile-nav label {
    align-items: center;
    background: none;
    color: #f1f1f1;
    display: flex;
    flex: 1;
    font-size: 5vw;
    justify-content: center;
  }
  #mobile-nav-links {
    display: flex;
    flex: 10;
    flex-direction: column;
    opacity: 0;
    transition: 1s opacity;
    visibility: hidden;
  }
  #mobile-nav-links a {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    font-size: 5vw;
  }
  #mobile-nav-links label {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
  }

input[type=checkbox] {
  display: none;
  visibility: hidden;
}

#topimg {
  width: 70%;
  display: flex !important;
  top: 15%;
  visibility: visible !important;
  left: 15%;
  margin: 0 auto;
  height: auto;
  position: absolute;
  transition: 1s opacity;
}

#video { 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
	overflow: hidden;
  transition: 1s opacity;
  height: 100%;
}
  #video video {
    align-items: center;
    width: 100%;
    transition: 1s opacity;
    justify-content: center;
  }
/* Header End */
