/* General CSS */
html {
  height: 100%;
}
body {
  background: #000; 
  color: #f1f1f1;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/* General CSS End */

/* Header */
#header {
  height: 100%;
  width: 100%;
}

#content {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 30%;
  width: 100%;
}

#about {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: 1s opacity;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 20;
}
  #about p { 
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0.9;
  }
  #about h3 {
    font-size: 20px;
  }

#contact {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: absolute;
  transition: 1s opacity;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 30;
}
  #contact p { 
    font-size: 16px;
    opacity: 0.9;
  }
  #contact a {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    opacity: 0.9;
    text-decoration: underline;
  }

#navbar {
  height: 5%;
  bottom: 2%;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 100;
}
  #navbar-logo {
    flex: 1; 
    text-align: center;
  }
    #navbar-logo img {
      max-width:100%;
      max-height:100%;
      opacity: 0.8;
    }
  #navbar-links {
    align-items: center;
    display: flex;
    flex: 2.5;
    font-size: 14px;
    justify-content: center;
  }
    #navbar-links a {
      margin-left: 20px;
      margin-right: 20px;
    }
    #navbar-links input {
      display: none;
      visibility: hidden;
    }
    #navbar-links label {
      margin-left: 20px;
      margin-right: 20px;
    }
      #navbar-links label:hover {
        cursor: pointer; 
        cursor: hand;
      }

#mobile-nav {
  display: none;
  visibility: hidden;
}

#video { 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
	overflow: hidden;
  transition: 1s opacity;
  height: 100%;
}
  #video video {
    align-items: center;
    jutsify-content: center;
    margin: 0 auto;
  }
